* {
  margin: 0px;
  padding: 0px;
}


header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  /* position: f; */
  /* justify-content: space-between; */
}
#Lobo-bar {
  width: 50%;
  text-align: center;
  font-family: "Teko", sans-serif;
  color: darkorange;
  font-size: larger;
}

#Lobo-bar h1 {
  margin-top: 10px;
}
#ul-bar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Teko", sans-serif;
  width: 60%;
  align-items: center;
  text-align: center;
  transition: all 2s ease-in-out;
  font-size: 15px;
}
.header-li-one a {
  margin-bottom: 5px;
  align-items: center;
}

#ul-bar ul {
  margin: 10px;
  font-size: 20px;
}
#ul-bar h2 {
  display: flex;
  top: 19px;
  font-size: 25px;
}
#acDetails {
  margin-right: 3px;
}
#forwidth {
  display: flex;
  width: 250px;
  justify-content: space-between;

}
#forwidth ul {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  justify-content: space-around;
}


#ul-bar ul {
  display: flex;
  flex-direction: column;
}

.slide-size img {
  height: 600px;
  margin: auto;
}
#First-id {
  display: none;
  list-style: none;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  background-color: white;
}
#First-id li {
  cursor: pointer;
}

#First-id ul {
  list-style-type: none;
  margin-top: 30px;
}
#First-id {
  position: absolute;

}


#cancel-but {
  position: absolute;
  top: 10px;
  background-color: transparent;
  padding: 10px;
  right: 80px;
  top: 110px;
  z-index: 5;
  border: none;
}
#cancel-but:hover {
  color: red;
}
.Second-li {
  display: none;
  list-style: none;
}
#Second-Id {
  position: absolute;
  background-color: white;
  justify-content: space-evenly;
  /* margin-top: 5px; */
  display: none;
}
#Second-Id ul {
  list-style: none;
  margin-top: 30px;
}

#Third-ID {
  position: absolute;
  background-color: white;
  justify-content: center;
  /* margin-top: 5px; */
  display: none;
}
.Third-li ul {
  list-style: none;

  margin: 40px;
}

.Fourth-li {
  display: flex;
  list-style-type: none;
  position: absolute;
}

#Fourth-ID {
  background-color: white;
  justify-content: center;
  list-style-type: none;
  display: none;
  /* border: 2px solid black; */
  /* margin-top: 5px; */
}
#Fourth-ID ul {
  list-style-type: none;
  margin-top: 30px;
  margin: 40px;
}
#After-Div {
  background-color: rgba(128, 128, 128, 0.614);
}
#Main-ol {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: auto;
  /* flex-direction: column; */
  padding: 5px;
  padding-bottom: 0px;
  
}

#Main-ol ul li {
  font-family: "Sriracha", cursive;
  text-align: center;
}
.name img {
  width: 25px;
}
.name input {
  border: none;
  border-bottom: 1px solid black;
  width: 60%;
}
.name span:hover {
  border-bottom: 2px solid orangered;
  cursor: pointer;
}

.name .span-one {
  font-family: "Chewy", cursive;
  /* font-family: 'Pattaya', sans-serif; */
  font-family: "Teko", sans-serif;
  font-family: 35px;
  margin-bottom: 18px;
}
.name {
  transition: 0.7s;
}
.name h6 {
  text-align: center;
}
.name h6:hover {
  transform: scale(1.1);
  border: 1px solid black;
  cursor: pointer;
}

/* Add to cart */

 #Viewcartid  #Cart-span {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  color: white;
  position: relative;
  font-size: 10px;
  text-align: center;
  padding: 4px 0px 8px 0px;
  background-color: red;
  color: white;
  margin-left: 4px;

}
 #ul-bar #Viewcartid  {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width:150px */
}

/* logout */

#Butoonforlog {
  display: none;
}

#logoutBtn {
  height: 40px;
  width: 100px;
  border: none;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* display: flex; */
  background-color: rgb(255, 64, 0);
  color: white;
}
# {
  color: black;
  text-decoration: none;
}
body .card {
  position: absolute;
  top: 0;
  right: -320px;
  transition: 0.7s;
  height: 90vh;
  background-color: rgba(15, 15, 15, 0.175);
  width: 300px;
  /* background-color: gray; */
}
.card h1 {
  font-weight: 100;
  color: goldenrod;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .Chekout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
.container .card .Chekout div {
  background-color: gold;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .Chekout div:nth-child(2) {
  background-color: black;
  color: white;
}

.container {
  position: absolute;
  z-index: 2;
  background-color: none;
}




















/* //////////////////////////////////HamburgerMenu */





.hamburgerMenu {
  display: none;
  width: 5%;
  position: relative;
  z-index: 70;
}
.conBar {
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  transition: 1s ease;
}

#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
/* cartslide */


@media (max-width:650px) {
  #ul-bar{
    position: absolute;
    transform: translateX(200px);
  }
}


.HamUlbar {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  position: fixed;
 top: 0;
right: 200px;
  transform: translateX(0px);
  background-color: rgb(235, 240, 240);
  z-index: 50;
  height: 100vh;
  
}
/* cartslide */

.icons #bar1 {
  transform: translateY(6px) rotate(-45deg);
}

.icons #bar3 {
  transform: translateY(-4px) rotate(45deg);
}
.icons #bar2 {
  opacity: 0%;
}

.hamBg {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 110vh;
  background: linear-gradient(125deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 40;
  position: fixed;
  

}

/* HamUlbar */

#Cat {
  font-size: 20px;
}
 
.drpI {
  position: relative;
  font-size: 14px;
  color: red;
  transform: translateX(3px) rotate(-90deg);
  /* border: 2px solid black; */
}






/* login form csss */

.Localform1 {
  font-family: "Poppins";
  z-index: 20;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


#logi_space {
  width:400px;
  height: 420px;
  background-color: white;
  opacity: 1;
  border-radius: 15px;
  position: relative;
}
#logi_space h3{
  text-align: center;
  color: orangered;
  padding-top: 10px;


}
.for_form{
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

.animate input{
  width: 100%;
  padding: 10px;

  
}
.Second-li

#Chekbox_id {
  display: flex;
  font-size: 15px;
}
#Chekbox_id p {
  margin-bottom: 0px;
  margin-left: 2px;
}

#Chekbox_id input {
  width: 12px;
  cursor: pointer;
}
.close-login{
  position: absolute;
  width: fit-content;
  padding: 0px 7px 0px 7px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: red;
  margin-right: 5px;
  margin-top: 5px;
}


#Sign-FLex {
  /* display: flex; */
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  width: 79%;
}
#Sign-FLex a{
  font-size: 15px;
}
.forget_flex{
  justify-content: space-between;
  display: flex;
  align-items: center;
  
}
#Sign-FLex {
  margin: auto;
}
#Signin_but {
  background-color: red;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
}

#NEW_USEBUT {
  border: none;
  width: 30%;
  height: 40px;
  font-size: 17px;
  /* margin-top: 10px; */
  cursor: pointer;
  background-color: white;
}

#Lobo-bar {
  text-align: center;
  font-family: "Teko", sans-serif;
  color: darkorange;
  font-size: larger;
  margin: auto;
}

#NameVAl {
  color: red;
  font-size: 12px;
}

#PAssVAl {
  color: red;
  font-size: 12px;
}

#Signin_but {
  font-weight: 600;
  display: inline-block;
  position: relative;
  border: 3px solid #fff;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;

}

#Signin_but::after,
#Signin_but::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.5s;
}

#Signin_but::after {
  top: -3px;
  left: -3px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

#Signin_but::before {
  bottom: -3px;
  right: -3px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

#Signin_but:hover {
  color: #f1f4f6;
  cursor: pointer;
}

#Signin_but:hover::after,
#Signin_but:hover::before {
  width: calc(50% + 3px);
  height: calc(50% + 3px);
  border-color: #080808;
}
.animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.7s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cancel-but {
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-attachment: fixed;
}

/* ViewCart Section */
#cartslide {
  width: 420px;
  height: 100vh;
  background-color: white;
  z-index: 80;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 1;
  transform: translateX(0);
  transition: 2s;
}
#cartslide p{
  text-align: center;
  font-size: 20px;
  color: black;
  font-family: poppins;
}
#cartslide #closis .Clonfunct{
    width: 40px;
    font-size: 25px;
    background-color: red;
    color: white;
    top: 0;
    right: 0;
    position: absolute;
    font-family: cursive;
    border: none;
}
#closis{
  width: 100%;
  z-index: 12;
  
}


 #blacbg{ 
   width: 160vh;
  height: 100vh; 
  position: fixed;
  background-color: rgb(39, 39, 39) ;
  opacity: 0.9;
  z-index: 10;
  top: 0;
/* display: none; */
  left: 0;
  /* visibility:hidden; */
  
} 
.paybutton{
  background-color: yellow;
  /* padding: 15px 5px 15px 5px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.paybutton div{
  border: 2px solid black ;
  border-right: none;
  width: 50%;
  padding: 15px;
  font-family: poppins;
}
.paybutton :nth-child(1){
  border-left: none;
}
#PayNow{
  text-align: center;
}
.forimgsize {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
}


/* //////////////////////after product add css//////////////////////////// */




.tabelofjs {
  width: 100%;
}
.tabelofjs h2{
  font-size: 15px;
  font-family: "poppins";
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.tabelofjs h4{
  font-size: 15px;
  font-family: "poppins";
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.tabelofjs  .buttonminus{
 
  padding: 8px;
  /* border: 1px solid black; */

}

.tabelofjs td button{
  padding: 12px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  color: red;
  /* border: 1px solid black; */

 
}

.forimgsize{
  width: 100px;
  height: 80px;
}


#hMenu{
  display: none;
}

